@model IEnumerable<DatabaseFirstCore.Models.Oyuncu>

<div class="text-center">
    <div>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Adi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Soyadi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Yasi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Maas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SozlesmeSuresi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MevkiNavigation.MevkiAdi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UlkeNavigation.UlkeAdi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Takim.TakimAdi)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Soyadi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Yasi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Maas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SozlesmeSuresi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MevkiNavigation.MevkiAdi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UlkeNavigation.UlkeAdi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Takim.TakimAdi)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
